/* ==UserStyle==
@name         Invidious Redirect Iceberg Theme
@version      20220727.00.17
@namespace    https://userstyles.world/user/knix3
@description  An Iceberg theme of the redirect.invidious.io page
@author       knix3
@license      GPL-v3
==/UserStyle== */

@-moz-document domain("redirect.invidious.io") {
.banner .logo {
    background-image: url(/static/img/invidious-logo-dark.svg?static=25c5cd3acc)
}
:root {
    --bg-primary: #161821;
    --bg-secondary: #6b7089;
    --bg-tertiary: #6b7089;
    --fg-header: #c6c8d1;
    --fg-primary: #c6c8d1;
    --fg-dim: #c6c8d1;
    --fg-link: #84a0c6;
    --edge-mark: #0000;
    --edge-table: #0000;
}
}
